.subtext {
  position: absolute;
  width: 462px;
  height: 68px;
  left: 35%;
  top: 367px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  /* or 33px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
