.footerlogo {
  position: relative;
  width: 186px;
  height: 53px;
  left: 93px;
  top: 33px;

  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;

  color: #000000;
}
.footerlogo a {
  text-decoration: none;
  color: inherit;
}
.footer {
  position: relative;
  top: 300px;
  height: 200px;
  background: #fbfbfb;
}

.copyright {
  position: absolute;
  width: 159px;
  height: 43px;
  left: 98px;
  top: 120px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 132%;

  display: flex;
  align-items: center;

  color: #000000;
}

.footercard {
  position: absolute;
  width: 104px;
  height: 39px;
  top: 90px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.footercard a {
  text-decoration: none;
  color: inherit;
}
.card1 {
  left: 450px;
}
.card2 {
  left: 650px;
}
.card3 {
  left: 850px;
}

.call {
  position: absolute;
  width: 131px;
  height: 50px;
  left: 1050px;
  top: 90px;

  border: 2px solid #000000;
  border-radius: 10px;
}
.calltext {
  position: absolute;
  width: 104px;
  height: 39px;
  left: 40px;
  top: 5px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
